<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
-->
<!--Import Google Icon Font-->
<!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->


<link href="/fonts/icon.css?family=Material+Icons" rel="stylesheet">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'  />

<link rel="stylesheet" href="/css/materialize.min.css">

<!-- Compiled and minified JavaScript
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script> -->
<!-- <script src="/js/jquery-2.2.2.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script> -->
<!-- <script src="/js/materialize.min.js"></script>-->

<link href="/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

<link type="text/css" rel="stylesheet" href="/css/global.css"  media="screen,projection"/>
