<nav>
    <div class="nav-wrapper blue lighten-2">
        &nbsp; &nbsp; <a href="/index" class="brand-logo">UnicorNot</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">


            <li><a href="/top">TOP</a></li>
            <li><a href="/brain">BRAIN</a></li>
            <li><a href="/buzz">BUZZ</a></li>



            {{#if user}}
                {{#if user.facebook.name}}
                    <li><a href="/profile">
                        {{ user.facebook.name }}</a></li>
                {{else if user.github.name}}
                    <li><a href="/profile">
                        {{ user.github.name }}</a></li>
                {{else if user.google.name}}
                    <li><a href="/profile">
                        {{ user.google.name }}</a></li>
                {{else if user.twitter.name}}
                    <li><a href="/profile">
                        {{ user.twitter.name }}</a></li>
                {{else if user.local}}
                    <li><a href="/profile">
                        {{ user.local.name }}</a></li>
                {{/if}}
                <li><a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            {{/if}}
            <li><a href="/view">About</a></li>
            <li><a href="/contact">Contact</a></li>

        </ul>
        <ul id="mobile-demo" class="side-nav">
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                <li>
                <div class="userView">
                    <div class="background">
                        <img src="/img/office.jpg">
                    </div>
                    {{#if user}}
                        {{#if user.facebook.name}}
                            <a href="/profile"><img class="circle" src="{{ user.facebook.photo }}"></a>
                            <a href="#!name"><span class="white-text name">{{ user.facebook.name }}</span></a>
                            <a href="#!email"><span class="white-text email">{{ user.facebook.email }}</span></a>
                        {{else if user.github.name}}
                            <a href="/profile"><img class="circle" src="{{ user.github.photo }}"></a>
                            <a href="#!name"><span class="white-text name">{{ user.github.name }}</span></a>
                            <a href="#!email"><span class="white-text email">{{ user.github.email }}</span></a>
                        {{else if user.google.name}}
                            <a href="/profile"><img class="circle" src="{{ user.google.photo }}"></a>
                            <a href="#!name"><span class="white-text name">{{ user.google.name }}</span></a>
                            <a href="#!email"><span class="white-text email">{{ user.google.email }}</span></a>
                        {{else if user.twitter.name}}
                            <a href="/profile"><img class="circle" src="{{ user.twitter.photo }}"></a>
                            <a href="#!name"><span class="white-text name">{{ user.twitter.name }}</span></a>
                            <a href="#!email"><span class="white-text email">{{ user.twitter.email }}</span></a>
                        {{else if user.local}}
                            <a href="/profile"><img class="circle" src="{{ user.photo }}"></a>
                            <a href="#!name"><span class="white-text name">{{ user.name }}</span></a>
                            <a href="#!email"><span class="white-text email">{{ user.email }}</span></a>
                        {{/if}}
                    </div>
                        <li><a href="/logout" class="collapsible-header  waves-effect">Logout</a></li>
                    {{else}}
                        <p>
                            <br/>
                            Please login to access all options and rate newly submitted startups.
                            <br/>
                        </p>
                    {{/if}}

                    <li><a href="/view" class="collapsible-header  waves-effect">About</a></li>
                    <li><a href="/contact" class="collapsible-header  waves-effect">Contact</a></li>
                </ul>

            </li>
        </ul>


    </div>
</nav>
{{#if user}}

    <ul class="tabs hide-on-large-only">
        <li class="tab  "><a target="_self" href="/top" class="waves-effect {{#if top}}active{{/if}}">TOP</a></li>
        <li class="tab "><a target="_self" href="/brain" class="waves-effect {{#if brain}}active{{/if}}">BRAIN</a></li>
        <li class="tab "><a target="_self" href="/buzz" class="waves-effect {{#if buzz}}active{{/if}}">BUZZ</a></li>
    </ul>
{{/if}}


{{#if user}}
    <!-- BOUTON ROND -->

    <div class="fixed-action-btn horizontal click-to-toggle">
        <a class="btn-floating btn-large red waves-effect">
            <i class="large material-icons">library_add</i>
        </a>
        <ul>

            <li><a href="/addIdea" class="btn-floating green  waves-effect"><i
                    class="material-icons">insert_chart</i></a>
            </li>
            <li><a href="/addIdea" class="btn-floating blue  waves-effect"><i class="material-icons">mode_edit</i></a>
            </li>
        </ul>
    </div>
{{/if}}