<!DOCTYPE html>
<html lang="en">
<head>
    <title>UnicorNot - Is your starup the next big thing? Show us what's on your mind!</title>
    {{>head}}


    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script>
        $( document ).ready(function(){
            $(".button-collapse").sideNav();
            $('ul.tabs').tabs();
            $('select').material_select();
            // Plugin initialization
            $('.carousel.carousel-slider').carousel({fullWidth: true});
            $('.carousel').carousel();
            $('.slider').slider();


        });
    </script>
</head>

<body>

{{>navbar}}
<div class="container">
    {{{body}}}
</div>


</body>
</html>