<div class="col s12 m8 l8 offset-m2 offset-l2">
    <h4><span class="fa fa-lock"></span>{{title}}</h4>
</div>
<div class="col s12 m12 l12">

    <div class="col s12 m6 l6">
        <div class="card sticky-action" style="overflow: hidden;">
            <div class="card-title">

                <div class="medium-text pl-10">
                    <p>
                        Want your startup idea to be rated and discussed by our community?<br/>
                        Just complete the entire form below, submit and you're done!</p>
                </div>
            </div>

            <div class="card-content center-align">

                <div class="left-align">
                    {{#if message}}
                        <!-- Materialize.toast(message, displayLength, className, completeCallback);-->
                        <script>
                            $(document).ready(function () {
                                var $toastContent = $('<span>{{message}}</span>');
                                Materialize.toast($toastContent, 6000);
                            });
                        </script>

                        {{#if error}}
                            <div class="error">{{message}}</div>
                        {{/if}}

                        {{#if success}}
                            <div class="success">{{message}}</div>
                        {{/if}}
                    {{/if}}
                </div>
                <div class="card-action left-align">


                    <form action="/addIdea" method="POST" enctype="multipart/form-data">
                        Idea subject <input type="text" value="" name="ideaSubject"
                                            placeholder="The name of your startup project" width="50%">
                        Idea excerpt <input type="text" value="" name="ideaExcerpt"
                                            placeholder="One line introduction about your project, as a small excerpt to help the community to figure out quickly">

                        <div class="input-field col s12">
                            Idea description <textarea name="ideaDescription"
                                                       class="materialize-textarea"
                                                       placeholder="That's where it comes to describe completely your startup idea! Let's start the pitch!"></textarea>


                        </div>


                        Category name
                        <select name="categoryName">
                            <option value="Technology">Technology</option>
                            <option value="Society">Society</option>
                            <option value="Sport">Sport</option>
                            <option value="Finance">Finance</option>
                            <option value="Home">Home</option>
                            <option value="Family">Family</option>
                            <option value="Food">Food</option>
                            <option value="Other">Other</option>
                        </select>
                        <p class="pt-30">
                            Choose an image to illustrate your startup idea<br/>
                            <input type="file" name="ideaImage"
                                   size="250"/>
                        </p>
                        <p class="center-align pt-40">
                            <input type="submit" class="btn btn-small waves-button-input cornflowerblue" value="ADD YOUR IDEA">
                        </p>

                        <p class="pt-40"></p>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

