<div class="container">

<div class="jumbotron text-center">
<h2><span class="fa fa-lock"></span>{{title}}</h2>

{{message}}
    {{#if error.length }}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}
    {{#if person.length }}
        h3 New person, name: {{person.name}}, age: {{person.age}} and nationality: {{person.nationality}} added!
    {{/if}}

    <form action="/createPerson" method="POST" enctype="multipart/form-data">
    Name <input type="text" value="tatz" name="name">
    nationality <input type="text" value="fr" name="nationality">
    age <input type="text" value="24" name="age">
    Image <input type="file" name="photo" size="50" />
        <br/>
        <br/>
    <input type="submit" value="SAVE">

    </form>
    </div>
<br/>

</div>

