<div class="container">

    <div class="jumbotron text-center">
        <h2><span class="fa fa-lock"></span>{{title}}</h2>

        {{message}}

        <form action="/createNew" method="POST">
            Title <input type="text" name="title">
            Summary <input type="text" name="summary">
            <input type="submit" value="SAVE">

        </form>
        </div>
    <br/>

    <a href="/logout">LOGOUT</a> <a href="/">HOME</a>
</div>
