<div class="container">

    <div class="jumbotron text-center">
        <h2><span class="fa fa-lock"></span>{{title}}</h2>

        {{message}}
        {{#if error.length }}
            <div class="alert alert-danger">{{message}}</div>
        {{/if}}
        {{#if person.length }}
            h3 New person, name: {{person.name}}, age: {{person.age}} and nationality: {{person.nationality}} added!
        {{/if}}


        {{#each people_details}}
            <img src="../public/img/uploads/{{image}}" />
            <a href="{{url}}">{{name}}</a>, {{age}} - {{nationality }}
            <form action="/createComment" method="POST">
                Comment <input type="text" value="tatz faf rar azra rzar rar " name="content">
                Author name <input type="text" value="{{name}}" name="nameAuthor">
                Id <input type="text" value="{{id}}" name="idAuthor">
                <input type="submit" value="SAVE" class="btn">

            </form>
        {{/each}}


    </div>
    <br/>

</div>

