<div class="row">
    <div class="col m12 s12 l12 ">
    <!-- IDEE -->

<div class="col s12 m8 l8">
<div class="card " style="overflow: hidden;">


{{#if idea_details}}
    {{#each idea_details}}
        <div class="card-title">
        <span class="small pl-10">
            <a href="/category/{{this.category}}">{{this.category}}</a> -
    {{/each}}
        <a href="#" class="activator">{{idea_comment_number}}</a>
    {{#each idea_details}}
            on {{this.date_formatted}}
        </span>
        </div>

            <div class="card-image">
                <img src="https://s3.eu-west-2.amazonaws.com/bucketunicornot/{{ideaImage}}">
            </div>
            <div class="card-content">

                <span class="card-title grey-text text-darken-4"><h5>{{this.ideaSubject}}</h5></span>
                by <a href="/person/{{this.id}}">{{this.name}}</a>


                <p class="justify-align">{{this.ideaDescription}}</p>
            </div>

            <div class="card-action">
                <p>
                    <a href="/upvote/{{this.id}}" class="btn blue lighten-1 small btn-small  waves-effect">TOP
                        ({{this.meta.top}})</a>
                    <a href="/downvote/{{this.id}}" class="btn right red darken-2 small btn-small  waves-effect">FLOP
                        ({{this.meta.flop}})</a>
                </p>
            </div>

            <script>countComments('{{this.id}}');</script>

            <div class="card-action">

                {{#if comments}}
                    <b>They're talking about this idea</b>
                    {{#each this.comments}}

                        <div class="pt-20">
                            <img src="{{photo}}" alt="" class="circle" width="35px" height="35px">
                            <span
                                    class="auteur"><a href="/person/{{idUser}}">{{name}}</a></span>
                            <span class="date">
                        - <script>getDateFromIsoDate({{dateAddedIdea}});</script></span>
                            <span class="title">{{this.title}}</span>
                            <div class="comment">{{this.body}}</div>
                        </div>
                    {{/each}}


                {{else}}
                    <p>
                        No comment yet! Be the first to give your opinion on this bright idea!
                    </p>
                {{/if}}

            </div>



        <div class="card-action">
            <h5>Add your comment</h5>

        {{message}}
        {{#if error.length }}
                <div class="alert alert-danger">{{message}}</div>
        {{/if}}

            <form action="/idea/{{id}}" method="POST">
                <input type="text" value="" name="title" placeholder="Subject of your comment">
                <div class="input-field col s12">
                <textarea name="body" class="textareaComments materialize-textarea" placeholder="Explain your point of view"></textarea>
                </div>
                <div class="center-align pt-10">
                    <input type="submit" value="ADD COMMENT" class="btn small">
                </div>
            </form>
    {{/each}}
    </div>
    </div>
    </div>

        <!-- SIDE BAR -->

        <div class="card col s12 m4 l4">

            <div class="card-title">
                <h5>Categories</h5>
            </div>


            <div class="card-action">
                <ul>
                    <li><a href="/category/Technology">Technology</a></li>
                    <li><a href="/category/Lifestyle">Lifestyle</a></li>
                    <li><a href="/category/Environnement">Environnement</a></li>
                    <li><a href="/category/Society">Society</a></li>
                    <li><a href="/category/Entertainment">Entertainment</a></li>
                    <li><a href="/category/Sport">Sport</a></li>
                </ul>
            </div>

        </div>
{{else}}

        <div>
            {{#if error.type.length }}
                <div class="alert alert-danger">{{message}}</div>
            {{/if}}

            <div class="card col s12 m8 l8">

                <div class="card-title">
                    <h5>Categories</h5>
                </div>

                <div class="alert alert-danger">{{message}}</div>
                ############# MESSAGE ERREUR ICI ############

            </div>

            <!-- SIDE BAR -->

            <div class="card col s12 m4 l4">

                <div class="card-title">
                    <h5>Categories</h5>
                </div>


                <div class="card-action">
                    <ul>
                        <li><a href="/category/Technology">Technology</a></li>
                        <li><a href="/category/Lifestyle">Lifestyle</a></li>
                        <li><a href="/category/Environnement">Environnement</a></li>
                        <li><a href="/category/Society">Society</a></li>
                        <li><a href="/category/Entertainment">Entertainment</a></li>
                        <li><a href="/category/Sport">Sport</a></li>
                    </ul>
                </div>

            </div>
            {{#if message}}
                ############# MESSAGE ERREUR ICI ############
                {{message}}
            {{/if}}


        </div>
    </div>

    </div>

{{/if}}