<div class="container">

    <div class="jumbotron text-center">
        <h2><span class="fa fa-lock"></span>{{title}}</h2>


        {{#each people_details}}
            <img src="../public/img/uploads/{{image}}"/>
            <a href="{{url}}">{{name}}</a>, {{age}} - {{nationality }}
            <br/>
            <br/>
        {{/each}}

        Comments writtent by this user: <br/>

        {{#each comments_people_details}}
            <a href="{{author}}">{{name}}</a> : {{content}} <br/>
        {{/each}}

        <br/>
        <br/>
        {{#each people_details}}
            <a href="/createComment/{{id}}">ADD A COMMENT ON THIS TOPIC</a>
        {{/each}}


    </div>

</div>
