<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> ERROR</h1>

        <p>Hello There!</p>
        {{error.status}}

        {{message}}
        {{error.stack}}

    </div>


</div>
