<h4><span class="fa fa-lock"></span>{{title}}</h4>

<div class="row">

    <div class="col m12 s12">


        <div class="left-align">
            {{#if message}}
                <script>
                    $(document).ready(function () {
                        var $toastContent = $('<span>{{message}}</span>');
                        Materialize.toast($toastContent, 6000);
                    });
                </script>

                {{#if error}}
                    <div class="error">{{message}}</div>
                {{/if}}

                {{#if success}}
                    <div class="success">{{message}}</div>
                {{/if}}
            {{/if}}
        </div>

        {{#each idea_listing}}
        <div class="col s12 m6 l4">
            <div class="card sticky-action" style="overflow: hidden;">

                <div class="card-title">
                    <div class="small pl-10">
                            <a href="#">{{this.category}}</a> -
                        On {{date_formatted}}
                        by <a href="/user/{{id}}">{{name}}</a>
                    </div>
                </div>

                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://s3.eu-west-2.amazonaws.com/bucketunicornot/{{ideaImage}}">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4"><h5>{{ideaSubject}}</h5>
                        <i class="material-icons right activator">more_vert</i></span>

                    <p class="justify-align">{{ideaExcerpt}}<a href="{{url}}" class="more pt-10">Lire la suite</a></p>
                </div>

                <div class="card-action">
                    <a href="/upvote/{{id}}" class="btn blue lighten-1 small btn-small  waves-effect">
                        <i class="material-icons left left">thumb_up</i> TOP
                        <span class="smallest">({{this.meta.top}})</span>
                    </a>

                    <a href="/downvote/{{id}}" class="btn right red darken-2 btn-small  waves-effect">
                        <i class="material-icons left left">thumb_down</i> FLOP
                        <span class="smallest">({{this.meta.flop}})</span>
                    </a>
                </div>

                <div class="card-reveal" style="display: none; transform: translateY(0px);">
                    <span class="card-title grey-text text-darken-4"><h5>{{ideaSubject}}</h5><i
                            class="material-icons right">close</i></span>
                    <h6>Extrait</h6>
                    <p class="justify-align">{{ideaExcerpt}}</p>
                    <a href="{{url}}" class="more">Lire tout</a>
                </div>
            </div>
        </div>

        {{/each}}


    </div>

    </div>