<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Authentication</h1>

        <p>Login or Register</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Signin</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>

</div>