<div class="">


    <h4><span class="fa fa-lock"></span>Profile</h4>


    {{#if user.facebook.token}}

    <div class="row">
        <div class="col s12 m6 l6">

            <p class="center-align"><img src="{{ user.facebook.photo }}" width="200px"/></p>
            <p> Displayed name : {{ user.facebook.name}} </p>
            <p> Used mail : {{ user.facebook.email }} </p>


        </div>

    {{else if user.twitter.token}}

        <div class="col s12 m6 l6">

            <p class="center-align"><img src="{{ user.twitter.photo }}" width="200px"/></p>
            <p> Displayed name : {{ user.twitter.name}} </p>


        </div>

    {{else if user.github.token}}

        <div class="col s12 m6 l6">

            <p class="center-align"><img src="{{ user.github.photo }}" width="200px"/></p>
            <p> Displayed name : {{ user.github.name}} </p>
            <p> Used email : {{ user.github.email }} </p>

        </div>

    {{else if user.google.token}}

        <div class="col s12 m6 l6">

            <p class="center-align"><img src="{{ user.google.photo }}&sz=200"/></p>
            <p> Displayed name : {{ user.google.name}} </p>
            <p> Used email : {{ user.google.email }} </p>


        </div>

    {{else if user.local.email}}

        <div class="col s12 m6 l6">


            <p class="center-align"><img src="https://avatars.io/gravatar/{{user.local.email}}" class="img-circle"><br>
            </p>
            <p> Displayed name : {{ user.local.name}} </p>
            <p> Used email : {{ user.local.email }} </p>


        </div>
    {{/if}}

</div>
</div>
