<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup local</h1>

        <!-- LOGIN FORM -->


        {{#if message}}
            <div class="alert-danger">{{message}}</div>
        {{/if}}

        <form action="/signup" method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" />
            </div>
            <div>
                <input type="submit" class="form-control" value="Submit" />
            </div>
        </form>
    <hr>
    <span class="fa fa-sign-in"> Already have an account?<a href="/login"> Login</a></span>
    <p>Or go <a href="/">home</a>.</p>

    </div>

</div>
