<div class="col m12 s12 ">


    <div class="col s12 m8 l8 offset-m2 offset-l2">
        <h3><span class="fa fa-lock"></span>{{title}}</h3>
    </div>
    <div class="col s12 m12 l12">

        <div class="col s12 m6 l6">
            <div class="card sticky-action" style="overflow: hidden;">
                <div class="card-title">
                    <div class="pl-10">
                        <div class="center-align">SIGNUP</div>
                    </div>
                    <div class="medium-text pl-10">
                        Not registered yet? <br/>
                        If you want to visit Unicornot and rate some of the best startups and idea propositions,
                        you must have an account and be identified out there.<br/>
                        Don't waist no more time, just click to choose your favourite social service.
                        Thousands of new ideas are waiting for your opinion!
                        <p>Already have an account? <a href="/login">Click here to login now</a></p>
                    </div>
                </div>

                <div class="card-content center-align">

                    <div class="card-action center-align">

                        One-click register with your social account<br/><br/>

                        <span class="white-text">

                            <a href='/auth/facebook' class="waves-effect waves-light btn blue darken-4 large-btn">
                            <i class="mdi mdi-facebook-box left"></i>
                            <span class="smallest">Continue with Facebook</span></a><br/><br/>

                                <a href='/auth/google' class="waves-effect waves-light btn red large-btn">
                            <i class="mdi mdi-google-plus-box left "></i>
                            <span class="smallest">Continue with Google+</span></a><br/><br/>

                            <a href='/auth/github' class="waves-effect waves-light btn brown large-btn">
                            <i class="mdi mdi-github-box left "></i>
                            <span class="smallest">Continue with Github</span></a><br/><br/>

                                <a href='/auth/twitter' class="waves-effect waves-light btn blue lighten-1 large-btn">
                            <i class="mdi mdi-twitter-box left left"></i>
                            <span class="smallest">Continue with twitter</span></a><br/>

                                                    </span>
                    </div>

                    <div class="card-action center-align">
                        OR
                    </div>
                    <div class="card-action">
                            <span class="center-align">
                                Create a free account
                            </span>
                        <div class="justify-align">
                            <form action="/signup" method="post">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password"/>
                                </div>
                                <div class="center-align">
                                    <input type="submit"
                                           class="waves-effect waves-light btn cornflowerblue lighten-1 small-btn form-control"
                                           value="Submit"/>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
