    <h1>Welcome!</h1>
    <br>Please select an image
    <form method="post" enctype="multipart/form-data" action="/upload" >
    <input type="file" id="image" name="upl">
    <input type="submit" name="" value="submit">
    </form>