<div class="container">

    <div class="jumbotron text-center">
        <h2><span class="fa fa-lock"></span>{{title}}</h2>

        <!--

    ideaSubject: String,
    ideaExcerpt: String,
    ideaDescription: String,
    ideaImage: String,
    authorName: String,
    authorEmail: String,
    categoryName: String,
    dateAddedIdea: {type: Date, default: Date.now},
    comments: [Comments],
    meta: {
        top: {type: Number, default: 0},
        flop: {type: Number, default: 0}
    }

     commentAuthorName : String,
    title     : String,
    body      : String,
    dateComment      : {type: Date, default: Date.now}

    -->

        <ul class="comments_list">
            {{#each ideaComments}}
                {{#each comments}}
                    Title: "{{title}}" <br/>
                    Author: <a href="/person/{{authorName}}">{{commentAuthorName}}</a><br/>
                    Date: {{dateComment}} <br/>
                    Body: {{body}}<br/>
                    Category: {{ideaComments.categoryName}}<br/>
                    <hr/>
                {{/each}}
            {{/each}}

        </ul>

        <p>Logged as {{user.local.first_name}} - {{user._id}}</p>

    </div>

</div>
