<style>
    .container {
        margin: 0 auto;
        max-width: 1280px;
        width: 100% !important;
    }
</style>

<div class="col m12 s12 s12">

    <div class="carousel carousel-slider center tatzCarousel" data-indicators="true">
        <div class="carousel-fixed-item center with-indicators"></div>

        <div class="carousel-item aliceblue grey-text" href="#one!"
             style="z-index: -1; opacity: 1; display: block; transform: translateX(0px) translateX(-570px) translateZ(0px);">
            <h2 class="pt-20">New startups everyday</h2>
            <p class="grey-text pt-20 pl-20 pr-20">Discover new projects and ideas from top entrepreneurs
            </p>
            <p class="pt-30">
                <img src="/img/1b.png">
            </p>
            <p class="pt-20">Swipe left or right to continue tour</p>

        </div>
        <div class="carousel-item aliceblue grey-text active" href="#two!"
             style="transform: translateX(0px) translateX(0px) translateX(0px) translateZ(0px); z-index: 0; opacity: 1; display: block;">
            <h2 class="pt-20">Give your opinion</h2>
            <p class="grey-text pt-20  pl-20 pr-20">Rate ideas, up or down, add comments to find the best or worst
                competitors</p>
            <p class="pt-30">
                <img src="/img/2b.png">
            </p>
            <p class="pt-20">Swipe left or right to continue tour</p>

        </div>
        <div class="carousel-item aliceblue grey-text" href="#three!"
             style="transform: translateX(0px) translateX(570px) translateZ(0px); z-index: -1; opacity: 1; display: block;">
            <h2 class="pt-20">Here is the last submitted startup</h2>
            {{#each idea_last}}


                <p class="grey-text  pl-20 pr-20">
                    <span class="medium-text">{{ideaSubject}}</span> in category <span
                        class="medium-text">{{this.category}}</span>
                </p>


                <p class="pl-20 pr-20 justify-center">
                    <img src="https://s3.eu-west-2.amazonaws.com/bucketunicornot/{{this.ideaImage}}" width="80px"/>
                    <br/>
                    "{{ideaExcerpt}}"
                </p>

                <p class="pt-30"><a href="/signup" class="btn blue lighten-1 small btn-small  waves-effect">
                    <i class="material-icons left left">thumb_up</i> TOP
                    <span class="smallest">({{this.meta.top}})</span>
                </a>

                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <a href="/signup" class="btn red darken-2 small btn-small  waves-effect">
                        <i class="material-icons left left">thumb_down</i> FLOP
                        <span class="smallest">({{this.meta.flop}})</span>
                    </a>
                </p>
                <p>
                    <p class="pt-20">Want to see and rate more startup idea's?</p>
                    <a href="/signup" class="btn waves-effect cornflowerblue white-text waves-light">Signup</a>
                        &nbsp; &nbsp; &nbsp;
                    <a href="/login" class="btn waves-effect cornflowerblue white-text  waves-light ">Login</a>
                </p>



            {{/each}}
        </div>

    </div>


</div>


