<div class="col m6 l6">

    <div class="col  m6 l6 offset-m3 offset-l3">
        <h3><span class="fa fa-lock"></span>{{title}}</h3>
    </div>
    {{#each idea_last}}

        <div class="col m6 l6 offset-m3 offset-l3">

            <div class="card sticky-action" style="overflow: hidden;">

                <div class="card-title">
                    <div class="small pl-10">
                        <a href="#">{{this.category}}</a> - <a href="{{url}}#comments"
                                                               class="">X comments</a>
                    </div>
                    <div class="small pl-10">
                        On {{date_formatted}}
                        by <a href="/user/{{id}}">{{name}}</a>
                    </div>
                </div>

                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/img/uploads/{{ideaImage}}">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4"><h5>{{ideaSubject}}</h5>
                        <i class="material-icons right activator">more_vert</i></span>

                    <p class="justify-align">{{ideaExcerpt}}</p><a href="/login" class="more pt-10">Lire la suite</a>
                </div>

                <div class="card-action">
                    <a href="/signup" class="btn blue lighten-1 small btn-small  waves-effect">
                        <i class="material-icons left left">thumb_up</i> TOP
                        <span class="smallest">({{this.meta.top}})</span>
                    </a>

                    <a href="/signup" class="btn right red darken-2 btn-small  waves-effect">
                        <i class="material-icons left left">thumb_down</i> FLOP
                        <span class="smallest">({{this.meta.flop}})</span>
                    </a>
                </div>

                <div class="card-reveal" style="display: none; transform: translateY(0px);">
                    <span class="card-title grey-text text-darken-4"><h5>{{ideaSubject}}</h5><i
                            class="material-icons right">close</i></span>
                    <h6>Extrait</h6>
                    <p class="justify-align">{{ideaExcerpt}}</p><a href="/login" class="more pt-10">Lire la suite</a>
                </div>
            </div>
        </div>

    {{/each}}

</div>
