.justify-align {
text-align:justify;
}

.small {
font-size:12px;
}

.smallest {
font-size:11px;
}

.medium-text {
    font-size:13px;

}

.pt-10 {
padding-top:10px;
}

.pt-20 {
padding-top:20px;
}

.pt-30 {
padding-top:30px;
}

.pt-40 {
padding-top:40px;
}

.large-btn {
width:250px;
}

.small-img {
padding:0 25px;
}

.resize-img {
width:50%;
}

.pl-10 {
padding-left:10px;
}

.mt-30 {
margin-top:30px;
}

.btn-small {
padding:0 1.4rem;
}

span h5 {
font-size:22px;
}

.more {
display:block;
text-align:right;
}

i.material-icons.right.activator {
cursor:pointer;
}

.comment {
display:inline-block;
text-align:justify;
padding-top:10px;
font-size:12px;
}

.auteur,.date {
vertical-align:10px;
padding-left:5px;
}